.about {
  background-image: linear-gradient(gainsboro, white);
  background-size: cover;
  min-height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
}

.about h2 {
  margin: 0;
}

.about-content {
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 0 0 0 5rem;
  justify-content: space-around;
}

.about-text {
  color: rgb(116, 115, 115);
  font-size: 1.3em;
  width: 600px;
  margin: 4rem 10rem 3rem 0;
  float: left;
}

.bg {
  width: 40em;
  height: 40em;
  border: none;
  border-radius: 50%;
  background-color: #b0bfaf;
  margin: 3rem 0 3rem 0;
  display: flex;
  flex-direction: row;
  position: relative;
}

.plant {
  position: absolute;
  margin-top: -55.5em;
  margin-left: 2em;
  z-index: 1;
}