.about {
  background-image: linear-gradient(gainsboro, white);
  background-size: cover;
  min-height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
}

.about h2 {
  margin: 0;
}

.about-content {
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 0 0 0 5rem;
  justify-content: space-around;
}

.about-text {
  color: rgb(116, 115, 115);
  font-size: 1.3em;
  width: 600px;
  margin: 3rem 10rem 3rem 0;
  float: left;
}

.bg {
  width: 40em;
  height: 40em;
  border: none;
  border-radius: 50%;
  background-color: #b0bfaf;
  margin: 3rem 0 3rem 0;
  display: flex;
  flex-direction: row;
  position: relative;
}

.plant {
  position: absolute;
  margin-top: -55.5em;
  margin-left: 2em;
}

@media (max-width: 1440px) {
  .bg {
    width: 30em;
    height: 30em;
    border: none;
    border-radius: 50%;
    background-color: #b0bfaf;
    margin: 7rem 5rem 3rem 0;
    display: flex;
    flex-direction: row;
    position: relative;
  }
  
  .plant {
    position: absolute;
    width: 30em;
    margin-top: -44.3em;
    margin-left: 1em;
  }

.about-text {
  color: rgb(116, 115, 115);
  font-size: 1.2em;
  width: 40rem;
  margin: 5rem 5rem 5rem 0;
  float: left;
}
}

@media (max-width: 1280px) {
  .bg {
    width: 25em;
    height: 25em;
    border: none;
    border-radius: 50%;
    background-color: #b0bfaf;
    margin: 9rem 5rem 3rem 0;
    display: flex;
    flex-direction: row;
    position: relative;
  }
  
  .plant {
    position: absolute;
    width: 26em;
    margin-top: -38.5em;
    margin-left: 0.5em;
  }

.about-text {
  color: rgb(116, 115, 115);
  font-size: 1.1em;
  width: 30rem;
  margin: 5rem 5rem 5rem 0;
  float: left;
}
}

@media (max-width: 1024px) {
  .bg {
    display: none;
  }
  
  .plant {
    display: none;
  }

.about-text {
  color: rgb(116, 115, 115);
  font-size: 1.1em;
  width: 45rem;
  margin: 5rem 5rem 5rem 0;
}
}

@media (max-width: 768px) {
  .bg {
    display: none;
  }
  
  .plant {
    display: none;
  }

.about-text {
  color: rgb(116, 115, 115);
  font-size: 1.1em;
  width: 25rem;
  margin: 5rem 5rem 5rem 0;
}
}