.contact-us {
    background-image: url("../../public/home.jpg");
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 20% 0;
  }

  .contact-us-container{
    display: flex;
    flex-direction: row;
    position: fixed;
  }

  .pure-form {
    position: relative;
    left: 45%;
    width: 140em;
  }
  
  .contact-us h1 {
    margin: 0;
    color:rgb(67, 52, 52);
    position: absolute;
    top: -20%;
    left: 55%;
  }
  

