
.plant-show {
    background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
    padding-top: 5rem;
    min-height: 100vh;
}
.plant-show .container {
    margin-top: 5rem;
    padding-left: 3rem !important;
    padding-right: 3rem !important;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #fff;
}
.plant-show-image {
    width: 100%;
}

.plant-show-name {
    font-size: 4rem;
    font-weight: 300;
    margin-top: 0;
}
.plant-show-data p {
    font-size: 1.5rem;
    
}
.plant-show-data p > span {
    font-weight: bold;
}