
.user-plant-show {
    background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
    padding: 5rem 0;
    min-height: 100vh;
}
.user-plant-show .container {
    margin-top: 5rem;
    padding-left: 3rem !important;
    padding-right: 3rem !important;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.user-plant-show-image {
    width: 100%;
    border-radius: 5px;
}

.user-plant-show-name {
    font-size: 4rem;
    font-weight: 300;
    margin-top: 0;
}
.user-plant-show-data p {
    font-size: 1.5rem;
    
}
.user-plant-show-data p > span {
    font-weight: bold;
}