  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(56, 64, 60, 0.6);
    padding: 0.2em 0 1em 0em;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color:#F1EBE4;
  }

  .social-media {
    margin: 0 10px 5px 5px;
  }

 .footer a {
    color:#F1EBE4;
  }