.plantsContainer {
  padding-top: 5rem;
  background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
  min-height: 100vh;
  padding-bottom: 100px;
}

.plantsContainer h1 {
  font-size: 4rem;
  font-weight: 300;
  text-align: center;
  margin-top: 0;
  padding: 2rem 0 0 0;
}