.App {
  text-align: center;
  min-height: 100vh;
  background-image: url("../public/home.jpg");
  background-size: cover;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(151, 151, 151, 0.5);
  padding: 10px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
}

.nav {
    display: flex;
    justify-content: space-around;
    background-color: rgb(151, 151, 151, 0.5);
    padding: 15px;
    width: 100%;
    margin: auto;
    font-weight: bold;
}

.link {
  text-decoration: none;
  cursor: pointer;
}


.link :active, :visited {
  color: white;
}

.link :hover {
  color: gray;
}