.App {
  text-align: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.home {
  background-image: url("../public/home.jpg");
  background-size: cover;
  min-height: 100vh;
  align-items: center;
}

.home h1 {
  margin: 0;
  color: rgb(116, 115, 115);
  font-family: optima;
  padding: 200px;
}

.transparent-box {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  align-items: center;
  height: 75%;
  width: 85%;
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.about {
  background-image: linear-gradient(gainsboro, white);
  background-size: cover;
  min-height: 100vh;
  align-items: center;
}

.index {
  background-image: linear-gradient(gainsboro, white);
  background-size: cover;
  min-height: 100vh;
}


.about h2 {
  margin: 0;
}

.about-text {
  color: rgb(116, 115, 115);
  font-family: optima;
  font-size: 20px;
  width: 600px;
  position: relative;
  padding: 10%;
}

.bg {
  width: 600px;
  height: 600px;
  border: none;
  border-radius: 50%;
  background-color: rgba(105, 156, 133, 0.5);
  position: absolute;
  bottom: 27%;
  left: 54%;
}

.plant {
  position: absolute;
  bottom: 20%;
  left: 55%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(151, 151, 151, 0.5);
  padding: 10px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
}

.cards {
  width: 300px;
  height: 300px;
  border-radius: 40px;
  padding: 20px;
}

.nav {
    display: flex;
    justify-content: space-around;
    background-color: rgb(151, 151, 151, 0.5);
    padding: 15px;
    width: 100%;
    margin: auto;
    font-weight: bold;
}

.social-media {
  padding: 0 10px;
}

.link {
  text-decoration: none;
  cursor: pointer;
}


.link :active, :visited {
  color: white;
}

.link :hover {
  color: gray;
}